<div class="canvas-view">

    <div class="toolbar">
        <div class="btn toolbar-element">Button</div>
        <div class="input toolbar-element">Input</div>
        <div class="text toolbar-element">Text</div>
        <div class="panel toolbar-element">Panel</div>
    </div>

    {{ view Proto.CanvasContainer id="document" contentBinding="this"}}

</div>