<div class="canvas-view" id="canvas-view">

    <div class="toolbar" id="toolbar">
        <div class="btn toolbar-element fa fa-square-o fa-2x" title="Button"></div>
        <div class="input toolbar-element fa fa-text-width fa-2x" title="Input"></div>
        <div class="text toolbar-element fa fa-font fa-2x" title="Text"></div>
        <div class="panel toolbar-element fa fa-columns fa-2x" title="Panel"></div>
        <span class="themes">
            {{#each theme in themes}}
                <button class="editor-button" {{action "chooseTheme" theme.name target="view"}}>{{theme.name}}</button>
            {{/each}}
        </span>
    </div>

    {{ view Proto.CanvasContainer id="document" contentBinding="this"}}

    <span class="fullscreen-toggle fa fa-arrows-alt" {{ action toggleFullscreen }}></span>

</div>