<div class="project-tree">

    <ul class="screens-list">
        {{#each screens}}
            <li>
                {{#link-to 'screen' this}}{{name}}{{/link-to}}

                <ul class="elements-list">
                    {{#each element in elements}}
                        <li><div {{bind-attr class=":fa element.type"}} {{ action focusElement element }}>{{ element.text }}</div></li>
                    {{/each}}
                </ul>

            </li>
        {{/each}}
    </ul>

</div>