{{#if edit}}
<div class="screen-modal">

    <div class="modal-frm">
        <label>Screen Title</label>
        {{input type="text" value=screenTitle action="saveTitle"}}

        <button class="button" {{ action saveTitle }}>Save</button>
        <button class="button gray" {{ action closeEdit }}>Cancel</button>
    </div>
</div>
{{/if}}