<div class="editor clearfix">

    <header>
        <h1>Proto
            {{#link-to 'editor.design'}}Design{{/link-to}}
            {{#link-to 'editor.code'}}Code{{/link-to}}
        </h1>
    </header>

    <section class="sidebar">
        <aside>
            <header class=".project-head label-title">Project Tree</header>
            {{ project-tree }}
        </aside>
        <aside>
            <header class=".property-head label-title">Element Inspector</header>
            {{ property-inspector elemid=elementId text=text }}
        </aside>
    </section>

    <div class="workspace">

        <div class="canvas-workspace">
            {{outlet}}
        </div>


        <footer>
            {{#link-to 'editor.design'}}Design View{{/link-to}}
            {{#link-to 'editor.code'}}Code View{{/link-to}}
        </footer>
    </div>





</div>

