<div class="root-options">
    {{#link-to 'editor' class="new-project fa fa-plus button"}} Create new project {{/link-to}}
    <span class="or">or choose from the list:</span>
    <ul class="project-list">
        <li>{{#link-to 'editor'}} Project 1 {{/link-to}}</li>
        <li>{{#link-to 'editor'}} Project 2 {{/link-to}}</li>
        <li>{{#link-to 'editor'}} Project 3 {{/link-to}}</li>
    </ul>
</div>