<div>

    {{ mainTitle.title }}

    {{ property-inspector title=mainTitle action="editTitle"}}

    {{#each titles}}
        {{canvas-communicator title=title action="selectTitle" param=title param1=id}}
    {{/each}}

<div style="clear: both;"></div>
</div>